<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">
                <img class="Logo_Img" src="https://images-platform.99static.com//Rbp6UTD5R54GLM04Xnw1qI-BKC4=/708x713:1297x1301/fit-in/590x590/99designs-contests-attachments/126/126734/attachment_126734144">
                    <span class="Logo_Name">EdgeTronics</span></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="">About Us</a></li>
                <li><a href="">Positions</a></li>
                <li><a href="">Founders</a></li>
            </ul>
        </div>
    </nav>
</div>

